
@{
    ViewData["Title"] = "Add";

}
@model ProductViewModel
  
<h1>Ürün ekleme</h1>

<div asp-validation-summary="ModelOnly">

</div>



<form  asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">

  <div class="mb-3">
    <label asp-for="Name" class="form-label">Ürün ismi :</label>
   
    <input  class="form-control"   asp-for="Name">
    <span class="text-danger" asp-validation-for="Name"></span>
  </div>

      <div class="mb-3">
    <label asp-for="Price" class="form-label">Ürün fiyat :</label>
    <input  class="form-control"   asp-for="Price">
      <span class="text-danger" asp-validation-for="Price"></span>
  </div>
      <div class="mb-3">
    <label asp-for="Stock" class="form-label">Ürün stok :</label>
    <input type="number"  class="form-control"   asp-for="Stock">
      <span class="text-danger" asp-validation-for="Stock"></span>
  </div>


  <div class="mb-3">
  @*  <label asp-for=Color class="form-label">Ürün renk :</label>
    <input type=""  class="form-control"   asp-for="Color">*@

    <select class="form-select"  asp-for="Color" asp-items="@ViewBag.ColorSelect">
       <option value="">Renk seçiniz</option>

    </select>

       <span class="text-danger" asp-validation-for="Color"></span>
  </div>


  <div class="form-check">
  <input    class="form-check-input"  asp-for="IsPublish">
  <label class="form-check-label"  asp-for="IsPublish">
    Yayınlansın mı ?
  </label>

</div>



   <div class="mb-3 mt-3">
        <span>Ürün kaç ay satışta kalacak ?</span>
  @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
  {
      <div class="form-check">
  <input  class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
    <label class="form-check-label"  asp-for="Expire" for="@(item.Value)Expire">
    @item.Key
    </label>
</div>
  }
     <span class="text-danger" asp-validation-for="Expire"></span>
  </div>

  <div class="form-floating mb-3">
  <textarea asp-for="Description" class="form-control" placeholder="ürün açıklama" style="height: 100px"></textarea>
  <label asp-for="Description">ürün açıklama</label>
    <span class="text-danger" asp-validation-for="Description"></span>
</div>


 <div class="mb-3">
    <label asp-for="PublishDate" class="form-label">Ürün yayınlanma tarih :</label>
   
    <input  class="form-control"   asp-for="PublishDate">
       <span class="text-danger" asp-validation-for="PublishDate"></span>
  </div>



    <div class="mb-3">


    <select class="form-select"  asp-for="CategoryId" asp-items="@ViewBag.categorySelect">
       <option value="">Kategori seçiniz</option>

    </select>

       <span class="text-danger" asp-validation-for="CategoryId"></span>
  </div>







  <div  class="mb-3">
  <label for="formFileLg" class="form-label">Ürün Resim</label>
  <input class="form-control form-control-lg" asp-for="Image" type="file">

</div>


<button class="btn btn-primary" type="submit">Ürün Kaydet</button>

</form>


@section Scripts
{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



}








