
@{
    ViewData["Title"] = "GetById";
}
@model ProductViewModel


<a class="btn btn-primary mb-2" asp-controller="products" asp-action="index">Ürünler sayfasına git</a>

<div class="card">
  <div class="card-header">
  Ürün (@Model.Name)
  </div>
  <div class="card-body">
 
    <p class="card-text">
        <div>Id : @Model.Id</div>
        <div>Açıklama : @Model.Description</div>
        <div>Fiyat : @Model.Price</div>
           <div>Stock : @Model.Stock</div>
              <div>Renk : @Model.Color</div>
              <div>Süre : @Model.Expire</div>
       </p>
  
  </div>
</div>

