
@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>
<h1>Ürünler</h1>


@if(TempData["status"]!=null)
{
   <div class="alert alert-primary" role="alert">
@TempData["status"]
</div>
}



<a asp-controller="products" asp-action="add">  Ürün ekle</a>
<table class="table">
    <thead>
        <tr>
        <th>Id</th>
        <th>Resim</th>
        <th>Kategori</th>
        <th>İsim</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Renk</th>
         <th>Yayınlansın mı ?</th>
            <th>Süre(Ay)</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="align-middle">
            <td>@item.Id</td>
            <td>
            @if(!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width:100px; height:100px;" src="/images/@(item.ImagePath)" />
                    }
                    else

                    {
                       <img style="width:100px; height:100px;" src="/images/noimage.jpg" />  
                    }

            </td>
            <td>
                @item.CategoryName
            </td>
              <td>@item.Name</td>
                <td>@item.Price</td>
                  <td>@item.Stock</td>
                  <td>@item.Color</td>
                  <td>
                   @(item.IsPublish ? "Evet" : "Hayır")

                  </td>
                  <td>@item.Expire</td>
                  <td>@if(item.Description.Length>20)
                    {
                        
                        @item.Description.Substring(0,20)<text>...</text>

                    }
                    else
                    {
                       @item.Description
                    }
                </td>
                  <td>
                      <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                      
                                <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a>   
                                

                                <a asp-route="product" asp-route-productid=@item.Id>Ürün sayfasına git</a>

                              

                  </td>
        </tr>
    }
    </tbody>


</table>


<a asp-controller="blog" asp-action="article" asp-route-name="makale-ismi" asp-route-id=2>makaleye git</a>

<a asp-route="productpage"  asp-route-page=1 asp-route-pagesize=3>1 sayfadan 3 ürün ver</a>
<a asp-route="productpage" asp-route-page=2 asp-route-pagesize=3>2 sayfadan 3 ürün ver</a>




